body{
    background-color: rgb(192, 192, 192);
}

.password_total{
    display: grid;
    grid-template-columns: repeat(3, 7vmin);
    gap: 2vmin;   
}

img{
    height: 5vmin;
    width: 5vmin;
}

.password{
    border-radius: 25px;
    background-color: rgba(163, 163, 163, 0.726);
    display: flex;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    transition: 1s;
    font-size: 2vmin;
}

.password:hover{
    background-color: rgb(192, 192, 192);
}

.delete, .apply{
    padding-top: 1vmin;
}

.header{
    display: flex;
    justify-content: center;
    margin-top: 20vmin;
    font-family: Arial, Helvetica, sans-serif;
    color: #572727;
    text-shadow: 1px 3px 0 #969696, 1px 13px 5px #aba8a8;
    font-size: 7vmin;
}

.text{
    display: flex;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(112, 112, 112);
    font-size: 2vmin;
}

.total_2{
    display: flex;
    justify-content: center;
}

.input{
    width: 40vmin;
    height: 5vmin;
    background-color: #5a4e4e;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    margin: 2vmin auto;  
}

.password_number{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2vmin;
}

