body{
    background: #ffffff;
    background: linear-gradient(311deg, rgba(255, 255, 255, 1) 0%, rgba(212, 85, 85, 1) 100%);
    background-repeat: no-repeat;
    background-attachment: fixed;
    padding-top: 120px;
    margin-top: -12vmin;
}

*{
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    box-sizing: border-box;
}

nav{
    height: 11vmin;
    width: 100%;
    background: #c28a8a;
    background: linear-gradient(353deg, rgba(194, 138, 138, 0.308) 1%, rgba(112, 0, 0, 1) 100%);
    -webkit-box-shadow: 4px 14px 33px 5px rgba(0,0,0,0.71); 
    box-shadow: 4px 14px 33px 5px rgba(0,0,0,0.71);
    position: fixed;
    margin-top: -2vmin;
    border-radius: 5vmin;
}

nav ul li p {
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: rgba(116, 98, 98, 0);
    text-decoration: none;
    font-size: 5vmin;
    font-family: cursive;
    text-shadow: 1px 1px 6px #ffffff;
    display: flex;
    justify-content: center;
    margin-top: -8.5vmin;
    
}

.navHeart{
    height: 7vmin;
    width: 7vmin;
    margin-top: 2.5vmin;
    margin-left: 2.5vmin;
}

.hearts{
    margin-top: 20vmin;
    display: grid;
    grid-template-columns: 1fr;   
    gap: 5vmin;  
    justify-items: center;
}

.heart{
    width: 16vmin;
    height: 10vmin;
    transition: 1s;
}

.heart:hover{
    width: 20vmin;
    height: 12vmin;
}

.memorie{
    font-size: 2vmin;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    color: white;
}

.div_heart{
    background-color: #8a6262;
    width: 80%;
    border-radius: 2vmin;
    text-align: center;
    margin-bottom: 2vmin;
}

.love{
    width: 70%;
    background-color: #5f4040;
    margin: 0 auto;
    border-radius: 5vmin;
    margin-top: 3vmin;

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3vmin;
}

.love_text{
    display: flex;
    justify-content: center;
    font-size: 3vmin;
    color: white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.yes_button,.no_button{
    font-size: 2.5vmin;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 1vmin 3vmin;
    border-radius: 6vmin;
    border: none;
}

.yes_button{
    background-color: rgb(255, 131, 131);
    transition: 0.5s;
}

.no_button{
    background-color: black;
    color: white;
    transition: 0.2s;
}

.yes_button:hover{
    background-color: rgb(255, 193, 193);
}

.no_button:hover{
    background-color: rgba(0, 0, 0, 0);
    color: rgba(0, 0, 0, 0);
}

.img_love{
    display: block;
    margin: 0 auto;
    width: 30vmin;
    margin-top: 3vmin;
}

.text_love_you{
    color: rgb(214, 15, 15);
    font-size: 5vmin;
    display: flex;
    justify-content: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-shadow: 1px 3px 0 #969696, 1px 13px 5px #f77878;
    margin-top: 1vmin;
    margin-bottom: 2vmin;
}